<div class="container">
  <section class="header">
    <h1>The best products</h1>
    <p>products</p>
  </section>
</div>

<div class="container">
  <div *ngFor="let row of products; let i = index" class="row">

    <div *ngFor="let product of row"  class="four columns">
      <div class="product">
        <a routerLink="/product/{{product.id}}" ><h4>{{ product.name }}</h4></a>
        {{ product.description }}
          <img [src]="'data:image/png;base64,'+product.image" />
      </div>
    </div>
  </div>
</div>
