.header{
    height: 500px;
    padding: 50px;
}

.header h1{
    font-family: 'Hind';
    padding-top: 200px;
    font-weight: 600;
    color: #DE313C;
    margin-bottom: 0px;
}
.header p{
    font-family: 'Hind';
    font-weight: 400;
    margin-top: 0px;
    font-size: 14pt;
    color: #5c5c5c;
}

.header .row{
    height: 100%;
}

/* Shop categories */
.shopCategories h5{
    font-family: 'Hind';
    font-weight: 600;
    margin-bottom: 0px;
}

.shopCategories p{
    font-family: 'Hind';
    font-weight: 200;
    margin-top: 0px;
    font-size: 10pt;
    color: #5c5c5c;
}

.shopCategories{
    width: 95%;
    margin: 0 auto;
}

.shopCategories .columns{
    height: 300px;
    transition: background-size 0.5s;
}

.shopCategories a{
    display: block;
}

.shopCategories .columns:hover{
    background-size: 120%;
}

.adImage{
    background: url("/assets/images/playstation1.png") center center no-repeat;
    background-size: 100%;
    height: 100%;
}

.consoles{
    background: url("/assets/images/nintendo.png") 60px center no-repeat;
    background-size: 100%;
}


.synths{
    background: url("/assets/images/synth.png") 60px center no-repeat;
    background-size: 100%;
}

.cars{
    background: url("/assets/images/mercedes.JPG") 60px center no-repeat;
    background-size: 100%;
}

.clothing{
    background: url("/assets/images/nike.jpg") 60px center no-repeat;
    background-size: 100%;
}

@media (min-width: 1000px) {
    .shopCategories .columns{
        margin: 0px;
        padding: 0px;
        padding-left: 10px;
        padding-right: 10px;
        width: 25%;
    }
}
