<section class="header">
  <div class="row">
    <div class="four columns">
      <h1>Get back in time</h1>
      <p>Get the <del>latest</del> oldest stuff</p>
    </div>
    <div class="eight columns adImage">
    </div>
  </div>
</section>
<div class="shopCategories">
  <div class="row">
    <a routerLink="/products/Games" href="">
      <div class="three columns consoles">
        <h5>Game Consoles</h5>
        <p>Game with the best graphics</p>
      </div>
    </a>
    <a routerLink="/products/Synths" href="">
      <div class="three columns synths">
        <h5>Synths</h5>
        <p>Get the sound back from the 80's</p>
      </div>
    </a>
    <a routerLink="/products/Cars" href="">
      <div class="three columns cars">
        <h5>Cars</h5>
        <p>Ride with style</p>
      </div>
    </a>
    <a routerLink="/products/Clothing" href="">
      <div class="three columns clothing">
        <h5>Clothing</h5>
        <p>Dress like your father</p>
      </div>
    </a>
  </div>
</div>


<div class="container">

</div>
