<div class="container">
  <div class="settings">
    <h2>All users</h2>
    <div class="row">
      <div class="six columns">
        <button routerLink="/admin/allUsers" type="button" class="button-primary u-full-width" name="button">All users</button>
      </div>
      <div class="six columns">
        <button routerLink="/admin/createProduct" class="button-primary u-full-width" type="button" name="button">Create product</button>
      </div>
    </div>
    <hr>
    <table class="u-full-width">
      <thead>
        <tr>
          <th>User ID</th>
          <th>Name</th>
          <th>Email</th>
          <th>City</th>
          <th>Remove user</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>{{ user.id }}</td>
          <td>{{ user.fullName}}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.city }}</td>
          <td> <button (click)="removeUser(user)" class="removeBtn" type="button" name="button">Remove user</button> </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
