<nav>
  <div class="navigation">
    <a routerLink="/">
      <div class="logo">
        <h5>Goeings</h5>
      </div>
    </a>
    <ul class="menu categories">
      <li><a routerLink="/products">All products</a></li>
      <li><a routerLink="/products/Games">Games</a></li>
      <li><a routerLink="/products/Synths">Synths</a></li>
      <li><a routerLink="/products/Cars">Cars</a></li>
      <li><a routerLink="/products/Clothing">Clothing</a></li>
    </ul>

    <ul class="menu" [ngSwitch]="authenticatorRole">
      <li *ngIf="!(isLoggedIn$ | async)"><a routerLink="/login">Login</a></li>
      <li><a *ngSwitchCase="'CUSTOMER'" routerLink="/user/me">Your Account</a></li>
      <li><a *ngSwitchCase="'ADMIN'" routerLink="/admin/allUsers">Admin</a></li>
      <li>
        <a routerLink="/shoppingCart"><i class="fa fa-shopping-cart" aria-hidden="true"> {{amountCart}}</i></a>
      </li>
      <li><a *ngIf="isLoggedIn$ | async" routerLink="/" (click)="logout()">Logout</a></li>
    </ul>
  </div>
</nav>
