.registerForm{
    margin-top: 50px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
    font-family: 'Hind';
    border-radius: 5px;
}

.purchase{
    border: none;
    transition: background-color 0.3s;
}

hr{
    margin-top: 0px;
    margin-bottom: 10px;
}

h5{
    margin-bottom: 10px;
    display: inline-block;
}

.totalCost{
    text-align: right;
    padding-right: 20px;
    font-weight: 600;
    padding-bottom: 50px;
}

ol{
    list-style: none;
}

ol li{
    margin-bottom: 2px;
}

#creditcard{
    background: url(/assets/images/Visa.svg) no-repeat right 10px center;
    background-size: 40px;
}

.small{
    padding-left: 10px;
    font-size: 10pt;
    color: #666666;
    display: inline;
}

.amountInput{
    width: 60px;
}

.productDescription{
    font-size: 8pt;
    color: #666666;
}
