<div class="container">
  <div class="registerForm">
    <h1>{{ user.fullName }}</h1>
    <div class="row">
      <div class="six columns">
        <button routerLink="/user/me" type="button" class="button-primary u-full-width"  name="button">User details</button>
      </div>
      <div class="six columns">
        <button routerLink="/user/orders" class="button-primary u-full-width"  type="button" name="button">Order history</button>
      </div>
    </div>
    <hr>
    <form autocomplete="off" #createUserForm='ngForm' class="" (ngSubmit)="editUser(user);">
      <div class="row">
        <div class="six columns">

          <label for="emailInput">Email</label>
          <input [(ngModel)]="user.email" name="email" required class="u-full-width" type="email" placeholder="example@mailbox.com" id="emailInput">

          <label for="nameInput">Fullname</label>
          <input [(ngModel)]="user.fullName" name="fullName" required class="u-full-width" type="text" placeholder="full name" id="fullnameInput">

          <label for="passwordInput">Password</label>
          <input [(ngModel)]="user.password" name="password" required class="u-full-width" type="password" placeholder="password" id="passwordInput">
        </div>
        <div class="six columns">

          <div class="row">
            <div class="four columns">
              <label for="postalcodeInput">Postalcode</label>
              <input [(ngModel)]="user.postalcode" name="postalcode" required class="u-full-width" type="text" placeholder="postalcode" id="postalcodeInput">
            </div>
            <div class="eight columns">
              <label for="cityInput">City</label>
              <input [(ngModel)]="user.city" name="city" required class="u-full-width" type="text" placeholder="city" id="cityInput">
            </div>
          </div>



          <label for="streetnumberInput">Street and streetnumber</label>
          <div class="row">
            <div class="nine columns">
              <input [(ngModel)]="user.street" name="street" required class="u-full-width" type="text" placeholder="street" id="streetInput">
            </div>
            <div class="three columns">
              <input [(ngModel)]="user.streetnumber" name="streetnumber" required class="u-full-width" type="text" placeholder="number" id="streetnumberInput">
            </div>
          </div>
          <label>Country</label>
          <input name="country" disabled class="u-full-width" type="text" value='The Netherlands' id="countryInput">


        </div>
      </div>
      <input class="button-primary" type="submit" value="Change information">
    </form>
  </div>
</div>
