<div class="container-fluid">
    <app-sub-header subHeaderText="Create Client"></app-sub-header>
    <form autocomplete="off" #createClientForm='ngForm' (ngSubmit)="createClient(client);">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <h3>Persoonsgegevens</h3>
                    <label for="Vooraam">Voornaam</label>
                    <input name="voornaam" [(ngModel)]="client.persoon.voornaam" required type="text" class="form-control" id="Voornaam" placeholder="Voornaam">
                </div>
                <div class="form-group">
                    <label for="Achternaam">Achternaam</label>
                    <input name="achternaam" [(ngModel)]="client.persoon.achternaam" required type="text" class="form-control" id="achternaam" placeholder="Achternaam">
                </div>
                <div class="form-group">
                    <label for="Geboortedatum">Geboortedatum</label>
                    <input name="Geboortedatum" [(ngModel)]="client.persoon.geboortedatum" required type="date" class="form-control" id="geboortedatum" placeholder="geboortedatum">
                </div>
                <div class="form-group">
                    <label for="Geslacht">Geslacht</label>
                    <select [(ngModel)]="client.persoon.geslacht" required class="form-control" id="geslacht" name="geslacht">
            <option [ngValue]="undefined" hidden>Selecteer geslacht</option>
            <option value="MAN">Man</option>
            <option value="VROUW">Vrouw</option>
        </select>
                </div>
                <div class="form-group">
                    <label>
         <span class="vegetarischeLabel label label-success">Vegetarisch</span> <input name="Vegetarische" [(ngModel)]="client.vegetarische" required type="checkbox" value='true' id="Vegetarische" placeholder="Vegetarische">
        </label>
                </div>
            </div>
            <div class="col-md-6">
                <h3>Contact gegevens</h3>
                <div class="form-group">
                    <label for="Email">Email</label>
                    <input name="email" [(ngModel)]="client?.persoon.contact.email" required type="email" class="form-control" id="email" placeholder="Email">
                </div>
                <div class="form-group">
                    <label for="Adres">Adres</label>
                    <input name="adres" [(ngModel)]="client.persoon.contact.adres" required type="street-address" class="form-control" id="Adres" placeholder="Adres">
                </div>
                <div class="form-group">
                    <label for="Telefoon">Telefoon</label>
                    <input name="telefoon" [(ngModel)]="client?.persoon.contact.telefoon" required type="tel" maxlength="10" class="form-control" id="Telefoon" placeholder="Telefoon">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h3>Lichamelijke eigenschappen</h3>
                <div class="form-group">
                    <label for="Lichaamslengte">Lichaamslengte</label>
                    <div class="input-group">
                        <input name="lichaamslengte" [(ngModel)]="client.lichaamslengte" required type="number" class="form-control" placeholder="Lichaamslengte">
                        <span class="input-group-addon" id="basic-addon2">cm</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="Lichaamsgewicht">Lichaamsgewicht</label>
                    <div class="input-group">
                        <input name="lichaamsgewicht" [(ngModel)]="client.lichaamsgewicht" required type="number" step="any" class="form-control" placeholder="Lichaamsgewicht">
                        <span class="input-group-addon" id="basic-addon2">kg</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
            </div>
        </div>
        <button type="submit" class="btn btn-default">Aanmaken</button>
    </form>

    <div id="snackbar"></div>
</div>
